*, *::before, *::after  {
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    font-family:'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
}

/******main styling*********/
main {
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    padding-top: 0;
}
.sec {
    position: relative;
    top: -40px;
    left: 50px;
}
main .sec h1 {
    line-height: 60px;
}
main .sec p {
    line-height: 25px;
}
/***header styles******/
.logo {
    position: absolute;
    top: 20px;
    left: 60px;
}
.nav-form {
    position: relative;
    top: -8px;
    left: 60px;
}
.arrow {
    font-size: 10px;
}
header {
    display: flex;
    align-items: flex-end;
}
header h1 {
    color: #fff;
    font-size: 25px;
}
header span {
    color: orange;
}

ul {
    display: flex;
    text-align: right;
    margin-left: 400px;
}
li {
    list-style-type: none;
    color: white;
    padding: 20px;
}
a {
    color: #fff;
    text-decoration: none;
}
/*****button styles**********/
.btn-bl {
    color: #fff;
    background-color: steelblue;
    padding: 16px;
    border-radius: 5%;
    width: 100px;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
    width: fit-content;
    border: #fff;
}
.btn-bl:hover {
    background-color:aqua;
}
.btn-or {
    color: #fff;
    background-color: #FF8C00;
    padding: 16px;
    border-radius: 5%;
    width: fit-content;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
    border: #fff;
}
.btn-or:hover {
    background-color: aqua;
}

/**************section styles************/
section h1 {
    color: #fff;
    font-size:50px;
}
section p {
    color: #fff;
}
section {
    padding: 50px;
    margin: 50px;
}
/*********styles for second section***********/
.awards-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    flex-basis: 15%;
    flex-wrap: wrap;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
.row-2 {
    flex-basis: 50%;
    flex-wrap: wrap;
}
.text {
    margin-left: 60px;
    margin-top: 20px;
    font-weight: 200;
}
.text p {
    line-height: 25px;
    font-size: 80%;
}
.row-2 p{
    line-height: 25px;
    font-size: 80%;
}
.grid-cont {
    margin-left: 40px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    grid-gap: 20px;
    padding: 0;
    transition: transform 1s;
}
.grid-items1 {
    background-color:#fff;
    border: none;
    width: 200px;
    height: 200px;

}
.grid-items1:hover, .grid-items2:hover, .grid-items3:hover, .grid-items4:hover {
    transform: translateY(-20px);
}

.grid-items2 {
    background-color:gainsboro;
    border: none;
    width: 200px;
    height: 200px;
}
.grid-items3 {
    background-color:gainsboro;
    border: none;
    width: 200px;
    height: 200px;
}
.grid-items4 {
    background-color:gainsboro;
    border: none;
    width:200px;
    height: 200px;
}
.sec-2 {
    margin-top: 0;
    padding-top: 0;
    position: relative;
    top: -80px;
}
.row-2 img {
    margin-right: 40px;
}
.container .text2 {
    position: relative;
    top: -20px;
    font-weight: 200;
}
/****************style for section 3********************/

.sec-3 {
    background-image: url('images/background-2.png');
    width: 100%;
    margin: 0;
    padding: 0;
    height: 500px;
}
.container2 {
    display: flex;
    margin-left:0 ;
    align-items: center;
    justify-content: center;
}
.row2 {
    flex-basis: 40%;
    flex-wrap: wrap;
}
.row2 img {
    position: relative;
    top: 100px;
}

/*****************style for section 4*****************/
.image-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 50px;
}
.img {
    flex-basis: 20%;
}
.heading {
    margin: 30px 0;
}
.heading p {
    text-align: center;
    line-height: 30px;
    font-size: 80%;
}
.heading h2 {
    text-align: center;
}



/**************** sec 5 *************************/
.sec-5 {
    margin: 200px 0;
}
.sec-5 .text2 {
    margin-left: 80px;
}
.se-5 {
    margin-left: 100px;
    margin-bottom: 0;
}

/***************** sec 6**************************/
.sec-6 {
        background-image: url('images/background-2.png');
        width: 100%;
        margin: 0;
        padding: 20px 0;
        height: 580px;
        position: relative;
        bottom: 150px;

}
.card-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: fit-content;
    margin-left: 180px;
    margin-bottom: 20px;
}
.card {
    flex-basis: 30%;
    border: 1px solid #fff;
    width: 300px;
    height:300px;
    transition: transform 1s;
}
.card:hover {
    transform: perspective(600px) translateZ(30px)
}
.card-2 {
    background-color: #fff;
}
.tex {
    border: 1px solid #fff;
    margin: 20px;
    text-align: center;
    margin: 30px;
    padding: 20px;
    width: 160px;
    position: relative;
    left: 20px;
    border-radius: 5px;
}
.card-2 .tex {
    border: 1.5px solid #0000ff;
} 
.box button {
    position: relative;
    left: 60px;
}

/* --------------sec 7 -------------------*/
.sec-7 {
    margin: auto;
    padding: auto;
}
.items-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left:60px;
    top: -80px;
}
.items {
    flex-basis: 20%;
    border: 1px solid white inset;
    transition: transform 1s;
    position: relative;
    padding: 0;
    margin-right: 0;
}
.items:hover {
    transform: perspective(500px) translateZ(30px);
}
.items h2 {
    position: relative;
    left: 10px;
    top: -10px;
}
.items p {
    position: relative;
    left: 2px;
    top: -15px;
    font-size: 12px;
}
.it-1 {
    position: relative;
    left: 100px;
}
.it-2 {
    position: relative;
    left: 50px;
}
.it-3 {
    position: relative;
    right: 10px;
}
.it-4 {
    position: relative;
    right: 50px;
}
.it-5 {  
    position: relative;
    right: 100px;
}

.testimonial-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}
cite .small {
    display: inline-block;
    line-height: 10px;
    position: relative;
    left: 10px;
    bottom: 10px;
}
.quote {
    font-size: 5px;
    position: relative;
    bottom: 10px;
}
blockquote {
    font-family: Geneva, Tahoma, sans-serif;
    line-height: 28px;
}
.tes-1 {
    flex-basis: 40%;
}
.tes-2 {
    flex-basis: 50%;
    position: relative;
    bottom: 40px;
    left: 40px;
}
cite {
    position: relative;
    top: 20px;
    right: 5px;
}

/*----------------footer styles ----------*/
.faq-container {
    height: 300px;
}
.faq .heading {
    position: relative;
    top: 20px;
    bottom: 20px;
}
.faq {
    border: 1px solid whitesmoke;
    border-radius: 1%;
    width: 60%;
    position: relative;
    left: 250px;
    padding: 20px;
    height: 600px;
    background-color:whitesmoke;
}
.faq h2 {
    font-size: 15px;
}
.faq p {
    font-size: 12px;
    line-height: 20px;
}
.faq button {
    position: relative;
    top: 40px;
    left: 250px;
}
.grid {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 130px 130px;
    grid-gap: 20px;
    position: relative;
    top: 30px;
    left: 50px;

}
.main-footer {
    background-image: url('images/background-2.png');
    height: 600px;
}
.sub-footer {
    position: relative;
    top: 350px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-3 {
    flex-basis: 25%;
}
.row-3 h3 {
    color: #fff;
    font-size: 15px;
}
.row-3 p {
    color: #fff;
    font-size: 12px;
}
input {
    padding: 15px;
    width: 280px;
    border : none;
    border-radius: 2%;
    background-color: lightblue;
    margin-bottom: 20px;
}
input[placeholder="info@example.com"] {
    color: #fff;
}
input:focus {
    outline: none;
}
.last {
    position: relative;
    bottom: 35px;
}
.social-icons i {
    margin: 5px;
}
.copyright {
    background-color:rgba(0,0,0, 0.9);
    height: 30px;
}
.copyright  small {
    font-size: 10px;
    position: relative;
    left: 210px;
    top: 5px;
}
