*,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
  scroll-behavior: smooth;  
}

body {
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* font-family: 'Archivo Black', sans-serif; */
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  
  padding: 0 2rem;
  background-color: #fff;
  
}

a, a:link {
  color: inherit;
  text-decoration: none;
  outline: none;
}

@media only screen and (max-width: 50em) {
  html { font-size: 50%; }
}
@media only screen and (max-width: 30em) {
  html { font-size: 30%; }
}

image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


/* NAVIGATION START */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
  box-shadow: 0 6px 6px -6px #aaa;
  
  font-size: 1.2rem;
  cursor: pointer;
}

.nav_navigation {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.nav_logo {
  font-size: 1.5rem;
  font-weight: bold;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo span {
  color: #FFD768;
}

.menu { 
  background-color: #FFD768;
  color: #000 !important;
  font-size: 2rem;
  padding: .7rem;
  text-align: center;
  display: none; 
  cursor: pointer;
  z-index: 1000000;
}

.nav_navigation div:nth-child(4) {
  border-bottom: 2.5px solid #FFD768;
}

.nav_icon {
  font-size: 1.3rem;
  width: 10%;
  display: flex;
  justify-content: space-between;
}
.nav_icon span:nth-child(2) {
  color: #f9f9f9;
  font-weight: bold;
}

.display { display: flex !important; }

@media only screen and (max-width: 600px) {
  .menu { display: block; }
  .nav_icon { display: none; }
  .nav { display: block; }
  .nav_navigation { 
    flex-direction: column;
    align-items: flex-start;
    display: none;
  }
  
  .nav_navigation div { 
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 950px) {
  .nav_navigation { width: 40%; }
  .nav_icon { width: 20%; }
}

/* NAVIGATION END */


/* SUB NAVIGATION */
.sub_nav {
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.sub_nav span {
  margin-right: 1rem;
}
.sub_nav span:last-child {
  color: #aaa;
}
/* SUB NAVIGATION ENDS */

/* SECTION ONE START */
.section_one {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}
.section_one h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.section_one p {
  font-size: 1.4rem;
}

.section_one-image {
  height: 400px;
  width: 100%;
}
  
.follow_us {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 2rem 0;
}

.icon_container span {
  font-size: 1.5rem;
  background-color: #f9f9f9;
  padding: 1.7rem;
  margin-right: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.red { color: red; }
.blue { color: blue; }

@media only screen and (max-width: 30em) {
  .section_one-image { height: auto; }
}

@media only screen and (max-width: 600px) {
  .section_one { display: block;}
}

/* SECTION ONE END */

/* SUBSCRIBE SECTION START */
.subscribe {
  background-color: #F5F5F5;
  padding: 4rem;
  margin: 3rem 0;
  border-radius: 5px;
  font-size: 1.5rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe_left h1 {
  font-size: 3rem;
}

.subscribe_right {
  width: 50%;
}

.subscribe_right input {
  border-radius: 5px;
  padding: 1.5rem;
  margin-right: 1rem;
  border: none;
  width: 75%;
  outline: none;
}

.subscribe_right button {
  text-transform: uppercase;
  background-color: #FFD662;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
}

@media only screen and (max-width: 70em) {
  .subscribe_right input { width: 65%;}
}

@media only screen and (max-width: 40em) {
  .subscribe { display: block; }
  .subscribe_right { 
    width: 100%;
    margin-top: 2.5rem;  
  }
}

@media only screen and (max-width: 60em) {
  .subscribe_right input { width: 60%;}
}

/* SUBSCRIBE SECTION END */

/* GALLERY START */
.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 150px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .gallery { 
    grid-template-columns: repeat(3, 1fr);
    height: 200px;  
  }
  .gallery img:nth-child(4), .gallery img:nth-child(5) {
    margin-top: 2rem;
  }
}
/* GALLERY ENDS */

/* DETAILS SECTION START */

.details {
  margin: 3rem 0; 
  
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 5rem;
}

.details_head {
  display: flex; 
  align-items: center; 
  width: 100%;
  white-space: nowrap;
  margin: 2.5rem 0;
}

.details_head h1 { margin-right: 2rem;}
.details_head span { width: 100%;}
.details_head hr { 
  margin: auto;
  transform: rotate(0deg);
  border: 1px solid #f5f5f5;
}

.details_text {
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
}
.details_text i {
  color: #FFD662;
}

.details_post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.details_post div:first-of-type { margin-right: 2rem;}

.details_post-text-1 { 
  margin-bottom: .6rem;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.3;
}

.details_post-text-2 { 
  color: #aaa;
  font-size: 1.4rem;
  width: 100%;
}

.details_post-text-2 i {
  color: #FFD662;
  margin-right: .3rem;
}

.details_post-image {
  height: 80px;
  border-radius: 8px;
}
.details_tag {
  background-color: #f5f5f5;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  margin-right: 1rem;
}
.details_tag:last-of-type { margin-right: 0;}

@media only screen and (max-width: 800px) {
  .details { grid-gap: 2.5rem; }
} 
@media only screen and (max-width: 600px) {
  .details { grid-template-columns: repeat(2, 1fr); }
} 
@media only screen and (max-width: 30em) {
  .details { grid-template-columns: repeat(1, 1fr); }
  .details_post-image { height: 60px; }
  .details_text { font-size: 2rem; }
  .details_post-text-1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .details_post-text-2 { font-size: 2.2rem; }
} 

/* DETAILS SECTION END */


/* FOOTER START */

footer { margin-top: 5rem;}

footer hr { border: 1px solid #f5f5f5; }
footer p { 
  padding: 1rem 1rem;
  font-size: 1.2rem;
  text-align: center;
}

/* FOOTER END */

@media only screen and (max-width: 30em) {
  .md-margin { margin: 5rem auto; }
}

