/*Global*/
* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

/*Section one*/

.background-one {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: white;
  background-color: #1555d1;
  height: 900px;
}



.navigation {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 15px;
}

.Saas {
  font-size: 25px;
  font-weight: 400;
  margin-left: 10px;
}


nav ul {
  display: flex;
}

nav ul li {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  list-style-type: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 0.8em;
  cursor: pointer;
}

nav a:hover {
  border-bottom: 2px solid #f2c02d;
}

input[type='submit'] {
  background-color: #f2c02d;
  color: #000000;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}


/*Control business*/
.easily {
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

/*Section two*/

.background-two {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  height: 1200px;
  margin-bottom: 15px;
}

.trusted {
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;
}

.amazing-container {
  display: flex;

}

.button1 {
  background-color: #1555d1;
  color: white;
  font-size: 10px;
  padding: 12px 30px;
  margin: 8px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.images-logo {
  display: inline-flex;
  margin-top: 20px;
  margin-bottom: 50px;
}


.grid-container {
    display: grid;
    grid-gap: 5px;
    height: 450px;
    width: 450px;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
}

.item {
  box-shadow: 2px 2px 2px rgb(136, 135, 135);
    z-index: 10;
  align-self: center;
}

.proper-guide {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.the-proper {
  margin-bottom: 20px;
}


/* Section 3*/

.background-three {
    display: flex;
    margin: 0;
    color: white;
    background-color: #1555d1;
    height: 500px;
}


.button2 {
  background-color: #f2c02d;
  color: white;
  padding: 10px 13px;
  margin: 8px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.button3 {
  background-color: #2f64d4;
  color: white;
  padding: 10px 13px;
  margin: 8px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.down-app {
  margin-bottom: 20px;
}

.the-passage {
  margin-bottom: 10px;
}

/* Section 4*/

.background-four {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  height: 1000px;
  margin-bottom: 60px;
}

.use-saas {
  margin-top: 50px;
}

.images-profile {
  display: inline-flex;
  size: 1.5em;
  margin-top: 20px;
  margin-bottom: 50px;
}

.two-phones {
  display: flex;
}

.phones-two {
  margin-bottom: 20px;
}

/* Section 5*/
.background-five {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: white;
  background-color: #1555d1;
  height: 800px;
}

.images-individual {
  display: inline-flex;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 75%;
  height: 75%;
}

/* Section 6*/

.background-six {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  height: 1000px;
  margin-bottom: 60px;
}

.images-stats {
  display: inline-flex;
  width: 75%;
  height: 75%;
}

.claire-kennedy {
  display: inline-flex;
  flex-direction: row;
  margin-top: 20px;
}

.team-organogram {
  display: flex;
}

/* Section 7*/

.background-seven {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fb;
  color: black;
  height: 600px;
  width: 900px;
  margin-bottom: 60px;
  z-index: 1;
}

.four-questions {
  display: flex;
  flex-direction: row;
}

.four-left {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.four-right {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.button4 {
    background-color: #f2c02d;
    color: white;
    padding: 18px 22px;
    margin: 8px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#grad4 {
  background-color: #f2c02d
  background-image: linear-gradient(to right, #fa9405 , #ebaf13);
}


/* Section 8*/

.background-eight {
  display: flex;
  flex-direction: row;
  background-color: #1555d1;
  color: white;
  height: 900px;
  width: 1400px;
  margin-bottom: 0;
}



.follow-icons {
  border-radius: 50%;
  padding: 15px;
  display: inline-flex;
  align-content: flex-start;
}

#social-icon-facebook {
  color: white;
  margin-right: 10px;
  padding: 10px;
}

#social-icon-skype {
  color: white;
  padding: 10px;
}

#social-icon-twitter {
  color: white;
  padding: 10px;
}

#social-icon-pinterest {
  color: white;
  padding: 10px;
}

.input {
  width: 250px;
  height: 50px;
  color: white;
  background-color: #256eee;
  padding-left: 20px;
  border-radius: 4px;
  border: none;
}

.input::placeholder {
  color: white;
}