/*Top Navigation*/
.topnav {
	overflow: hidden;
	background-color: white;
	padding: 20px 10px;
	margin: 0;
}

.topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-family: Constantia;
	font-size: 12px;
	line-height: 25px;
	border-radius: 4px;
}


.topnav a:hover {
	color:orange;
}

.topnav a.logo {
font-size: 25px;
font-weight: bold;
}

.header-right {
float: right;
}

.topnavsocial{
float: right;
}

a.topnavsocial {
color: black;
background-color: black;
}

.topnav a.active {
	background-color: white;
	color: orange;
}

@media screen and (max-width: 500px) {
.header a {
float: none;
display: block;
text-align: left;
}
.header-right {
float: none;
}
}

hr {
margin: 0;
padding: 0;
}

/*a {
	color: black;
	font-size: 12px;
	font-family: calibri;
	padding-bottom: 10px;
}

a:hover {
	color:#FFA500;
}
*/
html {
	padding: 0 250px;
}

/*Social media icons*/
a.bodysocial {
color: black;
}

a.bodysocial: hover {
color: black;
}
.fa {
	padding: 15px;
	font-size: 20px;
	width: 15px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	margin-right: 10px;
	margin-top: 10px;
}

/*color for each social media icons*/
.fa-facebook {
	color: blue;
	background-color: #D3D3D3;
}

.fa-twitter {
	color: blue;
	background-color: #D3D3D3;
}

.fa-LinkedIn {
	color: blue;
	background-color: #D3D3D3;
}

.fa-youtube {
	color: red;
	background-color: #D3D3D3;
}
/*After Nav Section*/
.row1::after {
display: flex;
content: "";
clear: both;
display: table;
}

.column1 {
flex: 50%;
margin-bottom: 70px;
}

.column1 img {
	float: left ;
	margin-top: 0;
	height: 50%;
	width: 50%;
	margin-bottom: 70px;
}

/*body*/
body {
	background-color: white;
	font-family: Constantia;
	font-size: 12px;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

.follow {
font-size: 18px;
}

/*Subscribe Section*/
.subscribe {
background-color: #D3D3D3;
overflow: hidden;
margin-bottom: 70px;
white-space: nowrap;
overflow: hidden; 
display: inline-block;
width: 100%;
list-style: none;
}

.form {
	float: right ;
	margin-right: 40px;
	margin-bottom: 50px;
	display: inline-block;
	height: 10%;
}

input[type=submit] {
	background-color: yellow;
	color: black;
	padding: 10px;
	border-color: none;
}

input [type=text], select, textarea {
	width: 100px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: horizontal;
}

h3 {
margin-right: 0px;
margin-top: 10px;
margin-bottom: 0;
margin-left: 80px;
display: inline-block;
}

h1 {
margin-right: 0px;
margin-top: 10px;
margin-bottom: 0;
margin-left: 80px;
}
/*Images*/
.imgcolumn {
float: left;
width: 20%;
}

.images::after {
content: "";
clear: both;
display: table;
}

/*About Section*/
.column {
float: left;
width: 33.33%;
margin-top: 50px;
margin-bottom: 50px;
align-content: left;
}

.row:after {
content: "";
display: flex;
clear: both;
text-align: left;
}


.column img {
float: left ;
margin-right: 40px;
margin-top: 0;
height: 50px;
width: 50px;
}

.column a {
color: black;
}

.rowt:after {
content: "";
display: flex;
clear: both;
text-align: left;
line-height: 0.5;
}

.Thank {
float: left;
width: 40%;
margin-top: 50px;
margin-bottom: 50px;
align-content: left;
}


.Thank img {
float: left ;
margin-right: 40px;
margin-top: 0;
height: 50px;
width: 50px;
}

.tasklink a {
background-color: grey;
color: black;
}

/*Footer*/
footer {
 	text-align: center;
 	align-content: center;
 }

 @media screen and (max-width: 600px) {
 .column {
 width: 100%;
 }
 }