/** general styles **/
* {
    margin:0;
    padding:0;
    box-sizing: border-box; 
 }
 html {
     scroll-behavior: smooth;
 }
body {
    font-family: 'Crimson Text', serif;
}
main {
    margin-left: 5%;
    margin-right: 5%;
}

h1, h2, h3 {
    font-size: 20px;
    font-weight: 600;
}
/* header styles */
header {
    margin: auto;
    padding-left: 200px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: inset;
    max-width: 1300px;
}
.navbar {
    display : flex;
    align-items: center;
}
header span {
    color: pink;
    margin-left: 0;
    padding-left: 0.5px;
}
ul {
    display: flex;
    margin-left: 0 auto;
    width: 19.5em;
    margin-top: 5px;
}
li {
    list-style-type: none;
    padding-left : 10px;
    font-size: .63em;
    font-weight: 800;

}
li a {
    text-decoration: none;
    margin-left: 9px;
    color: black;
}
nav {
    margin-left: 100px;
    margin-right: 120px;
}
#search i {
   font-size: 70%;
   margin: auto;
   padding: auto;
   color: black;
   padding-right: 10px;
}
.sm-logo {
    padding-left: 20px;
    border-left: inset;
    margin-left: 10px;
    border-width: thin;
}
.sm-logo img {
    margin-left: 1em;
}

hr {
    color: blue;
}
/******new nav styles *****/
.new_nav {
    margin-top: 20px;
    display: flex;
    font-size: 15px;
    padding-left: 150px;
}
.new_nav i {
    font-size: 70%;
    color: black;
    padding-right: 5px;
    margin-top: 7px;
}
.new_nav ul {
    margin-left: 0;
}
.new_nav li {
    padding-left: 1px;
    padding-right: 1px;
    font-size: 12px;
}
.new_nav a {
    text-decoration: none;
    color: black;
}
.new_nav span {
    padding-right: 2px;
    font-size: x-small;
}
.about_list {
    color: grey;
}
span {
    margin-left: 10px;
}
#indicator {
    width:30px;
    border: none;
    background: yellow;
    height: 2px;
    margin-top: 3px;
    transform: translate(100px);
    transition: transform 1s;
}
/* section styles */
.container {
    display: flex;
    padding-left: 150px;
    align-items: center;
    justify-content: space-evenly;
    justify-content: center;
    flex-wrap: wrap;
}
.row {
    flex-basis: 50%;  
    min-width: 300px;
}
.row img {
    max-width: 100%;
    padding: 30px 0;
}
.text {
    margin-right: 100px;
    font-size: 14px;
    line-height: 25px;
    margin-top: 10px;
    color: grey;
    margin-bottom: 10px;
}
.row h4 {
    font-size: 13px;
}
.row i {
    margin-right: 10px;
    margin-top: 10px;
    border: 1px white;
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 10px;
}
.facebook {
    color: blue;
    border-radius: 2px;
}
.twitter {
    color: lightblue;
}
.youtube {
    color: red;
}
.instagram {
    color : crimson;
}
/**sec section styles ***/
.container2 {
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    align-items:center;
    justify-content: space-between; 
    padding-right: 20px;
}
.sec {
    background-color: #f0f0f0;
    margin : auto;
    border-radius: 3%;
    max-width: 900px;
    margin-top: 30px;
}
.text_2 h4 {
    font-weight: 200;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
form {
    padding-top: 25px;
}
input[placeholder] {
    font-weight: 200;
    font-size: x-small;
}
input {
    height: 33px;
    border: white;
    border-radius: 5%;
    width: 250px;
    margin-right: 5px;
}
input:focus {
    outline: none;
}
button {
    font-weight: 40;
    background-color: pink;
    width: 100px;
    padding: 9px;
    margin-left: 5px;
    border-radius: 5%;
    border : white;
    cursor: pointer;
}
button:hover {
    background-color: lightpink;
}
button:active {
    background-color: magenta;
}
button :visited {
    background-color:lightcoral;
}
/* images section styles */
.sec-2 {
    max-width: 1080px;
    margin: auto;
}
.images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-left: 150px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.images h3 {
    font-size: 15px;
    font-weight: 600;
    text-align: left;
}
.row-3 {
    flex-basis: 33%;
    min-width: 300px;
    transition: transform 0.5s;
}
.img:hover {
    transform: translateY(-5px);
}


/* styles for more section */
.more_sec {
  margin: auto;
  max-width: 1300px;
}
.more {
    margin-left: 150px;
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.line {
 border-bottom: 2px solid #f0f0f0;
 width: 150px;
 height: 50px;
 display: inline-block;
}
.contact span {
    display: block;
    padding-top: 5px;
}
.about p {
    line-height: 25px;
}
a {
    color: black;
}
.contact span p {
    display : inline-block;
    padding-left: 5px;
    font-size: 14px;
}
.row-3 p {
    font-size: 14px;
}

.contact i {
    color: crimson;
}

.part {
    margin-top: 5px;
    height: 100px;
}

.part span {
    display: inline-block;
    font-size: 17px;
    line-height: 15px;
    max-height: 60px;
}
.row-3 p {
    font-size: 14px;
}
.row-3 h5 {
    font-size: 14px;
}
.part i {
    color: crimson;
}
.part .small {
    padding-bottom: 20px;
}
.part small {
    font-size: 12px;
    color: grey;
}
.row-3 .para {
    display: flex;
    margin-top: 10px;
}
.row-3 .para p {
    background-color: #f0f0f0;
    margin-right: 10px;
    padding: 5px;
}

.row-3 i {
    margin-right: 10px;
    margin-top: 10px;
    border: 1px white;
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 10px;
}
a {
    text-decoration: none;
}

/****footer styles *****/
footer {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px auto;
}
footer .line {
    display: block;
    width: 800px;
    margin: auto;
    padding: auto;
}
/*---------menu-------------*/
.menu-icons {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* Responsive 

**************************************************/
@media only screen and (max-width : 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu-icons {
        display: block;
        cursor: pointer;
    }
    .sm-logo {
        display: none;
    }
    .new_nav {
        display: none;
    }
}
/* -----------media query for less than 600 screen size-----
*/

@media only screen and (max-width: 800px) {
    .container {
        text-align: center;
    }
    .row, .row-3 {
        flex-basis: 100%;
    }
    body {
        margin: 0;
        padding: 0;
    }
}